body {
  background-color: white;
}

.card-ingredient {
  text-align: center;
  color: #4F6D7A;
  font-family: 'Inconsolata', monospace;
}

.card-ingredient h2{
  margin-bottom: 30px;
}

.button-delete{
  text-decoration: none;
  color: #C0D6DF;
}

.button-delete:hover{
  opacity: 0.7;
}
