// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
body {
  margin-bottom: 30px;
  font-family: 'Inconsolata', monospace;
}

body h1{
  font-family: 'Inconsolata', monospace;
}
